body { font-family: Ariel, sans-serif; }

p, pre, h5 {
	font-family: Georgia, sans-serif;
	font-size:17px;
}
h1 { margin-bottom:0; }

footer { margin-bottom:0; color: #000; }

.logo {
    font-family:'Fredericka the Great';
	font-size:40px;
	margin-top:5px;
    margin-bottom: 0;
}
.logo-top {
	font-family:'Fredericka the Great';
	font-size:30px;
	margin:0;
	padding:0;
}
.logo-bottom {
	font-family:'Josefin Slab';
	font-size:19px;
	margin:0;
	padding:0;
}
.linkedin-padding { padding: 24px 10px 24px 70px; }
.insta-padding { padding: 24px; }
.menu-txt {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
.portfolioText {
	text-align: center;
	font-family: 'Fredericka the Great';	
	font-size: 45px;
	}
.portfolioText-h3 {
	text-align: left;
	font-family: 'Fredericka the Great';
	}
.aboutText {
	font-family:'Josefin Slab';
	font-size: 23px;
}
.contactText {
	font-family: 'Bad Script', cursive;
	font-size: 20px;
}
.quote {
    font-family:'Shadows Into Light',cursive;
    font-size:35px;
    text-align:center;
    color:#000;
}
.text-right { text-align: right; }
.bkgrndTexture {
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
	}
.centerImg {
	display:block;
	margin-left:auto;
	margin-right:auto;
	}

.bottom-contact{ margin:0; padding:17px; }
.light-grey { background-color:#e6e6e6; }

.trnsprnt-wine {
	background-color:rgba(103, 24, 103, 0.35);
	}
.trnsprnt-light-violet {
	background-color:rgba(123, 81, 122, 0.3);
	}
.brush-stroke {
    background: url("/photography/images/PNGs/violet-brush-stroke.png");
    background-size: 105% 130%;
    background-repeat: repeat-y;
    background-position: center;
    margin-top: -10px;
}
.contact-img {
    border-radius:5px;
    border-style:solid;
    border-color:#f9f2ec;
    border-width:10px;
    border-bottom-width:90px;
    margin-top: 20px;
    box-shadow: -10px 10px #c7d0d8;
}
.body1, .body2 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contentStart { margin-top: 73px; }
	
.photos {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap:   2px;
  -moz-column-count:    2;
  -moz-column-gap:      2px;
  column-count:         2;
  column-gap:           2px;  

}
.photos-img { width: 100%!important; }
@media (max-width: 499px) {
    .photos {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
    .quote { font-size:20px; padding: 10px; }
    .contentStart { margin-top: 80px; }
    .portfolioText { font-size: 35px; }
    .aboutText { font-size: 16px; }
}
@media (min-width: 601px){
  .insta-padding { padding: 24px 20px; }
}
@media (min-width: 870px){
  .contentStart { margin-top: 73px; }
}

/* Portfolio page styling */
.top-heading { margin-top: 100px; }
.heading {
    font-family:'Josefin Slab';
    font-size:60px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -35px;
}
.heading2 { /* styling for Web Design & Programming section */
    font-family:'Josefin Slab';
    font-size:52px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -35px;
}
.hero-image {
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    margin: 0;
    position: relative;
    width: 100%;
    height: 800px;

}
.bckgnd {
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    margin: 0;
    position: relative;
    width: 100%;
    height: 30px;
}
.bk-fade0 { opacity: 1; }
.bk-fade10 { opacity: .9; }
.bk-fade20 { opacity: .8; }
.bk-fade30 { opacity: .7; }
.bk-fade40 { opacity: .6; }
.bk-fade50 { opacity: .5; }
.bk-fade60 { opacity: .4; }
.bk-fade70 { opacity: .3; }
.bk-fade80 { opacity: .2; }
.bk-fade90 { opacity: .1; }
.bk-fade100 { opacity: 0; }

.fade0 { color: #000000; }
.fade20 { color: #333333; }
.fade30 { color: #4d4d4d; }
.fade40 { color: #666666; }
.fade50 { color: #808080; }
.fade60 { color: #999999; }
.fade70 { color: #b3b3b3; }
.fade80 { color: #cccccc; }
.fade90 { color: #e6e6e6; }

.content-width { max-width:3000px; }

.box-shadow-left { box-shadow:10px 10px #c7d0d8 }
.box-shadow-right { box-shadow:-10px 10px #c7d0d8; float:right; }

.h2-right { text-align: left; margin-left: 10px; }
.h2-left { text-align: right; margin-left: 130px; }
.h2-left2 { text-align: right; margin-left: 15px; }
.h2-2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    width: 400px;
    margin-left: -80px;
}

.p-right { 
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    width: 400px;
}
.p-left { 
    text-align: right; 
    float:right; 
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    width: 400px; 
}
.p-left2 { text-align: right; float:right; }
.p-marg-left { margin-right: 10px; }

.source-txt-left {
    float: right;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
.source-txt-right {
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
}
.relative-left {
    position: relative;
    width: 250px;
    height: 20px;
    margin-top: 140px;
    margin-right: 30px;
}
.relative-left2 {
    position: relative;
    width: 100px;
    margin-top: 270px;
    margin-left: 200px;
}
.relative-left3 {
    position: relative;
    width: 100px;
    margin-top: 270px;
    margin-left: 200px;
}
.relative-left4 {
    position: relative;
    width: 100px;
    margin-top: 370px;
}
.relative-right {
    position: relative;
    float: left;
    width: 300px;
    margin-top: 120px;
    margin-left: 30px;
}
.relative-right2 {
    position: relative;
    float: left;
    width: 100px;
    margin-top:360px;
}
.relative-right3 {
    position: relative;
    float: left;
    width: 100px;
    margin-top:160px;
}
.relative-right4 {
    position: relative;
    float: right;
    width: 100px;
    height: 0;
    margin-top:400px;
    margin-right: 205px;
}
.relative-right5 {
    position: relative;
    float: right;
    width: 100px;
    height: 0;
    margin-top:500px;
    margin-right: 200px;
}
.msu-border { border:6px solid #00447c; }
.white-box, .row-white-box { height: 100px; }

.pho-button {
    border: 4px solid dimgray;
    border-radius: 15px;
    font-family: 'Fredericka the Great';
    text-align: center;
    font-size: 28px;
    color: black;
    width: 275px;
    margin: auto;
}

@media (min-width: 200px) and (max-width: 361px) {
    .top-heading { margin-top: 50px; }
    .heading {
        font-size:26px;
        margin-bottom: -5px;
    }
    .content-width { min-width:350px; }
    .hero-image { height: 500px; width: auto; }
    .bckgnd { height: 15px; }
    .row-white-box { display: none;}
    .box-shadow-right { float: none; }
    .h2-2 { width:300px; font-size:21px; margin-left:5%; }
    .h2-left { text-align:right; margin-left:5%; padding-right:10px; }
    .h2-left2 { margin-left: 4%; text-align: left; }
    .h2-right { text-align:right; margin-left:2%; padding-left:10px; }
    .relative-left { margin-top:0px; margin-right:5%; }
    .p-right {
        font-size: 12px;
        width: 300px;
        text-align: right;
        margin-left: 0%;
        padding: 0 22px 0 10px;
    }
    .p-left {
        text-align: left;
        margin-left: 14%;
        padding: 0 15px 0 10px;
        float: none;
        font-size: 12px;
        width: 300px;
    }
    .p-left2 {
        text-align: left;
        float: left;
        margin-left: 4%;
        font-size: 10px;
        width: 300px;
    }
    .source-txt-left, .source-txt-right { font-size: 9px; }
    .relative-right { margin-top: 0px; margin-left: 5%; }   
    .relative-left { margin-top: 0px; margin-right: 52px; }
    .relative-left2 { margin-top: 152px; }
    .relative-left4 { margin-top: 135px; margin-left: 0px; }
    .relative-right2 { margin-top: 210px; margin-left: 20px; }
    .relative-right3 { margin-top: 90px; margin-left: 10px; }
    .pho-button { font-size: 20px; width: 195px; }
}
@media (min-width: 361px) and (max-width: 499px) {
    .top-heading { margin-top: 50px; }
    .heading {
        font-size:26px;
        margin-bottom: -5px;
    }
    .content-width { min-width:350px; }
    .hero-image { height: 500px; width: auto; }
    .bckgnd { height: 15px; }
    .row-white-box { display: none;}
    .box-shadow-right { float: none; }
    .h2-right { text-align: right; 
        margin-left: 13%; 
        padding-left: 10px;
    }
    .h2-left { 
        text-align: right; 
        margin-left: 15%; 
        padding-right: 10px; 
    }
    .h2-left2 { margin-left: 4%; text-align: left; }
    .h2-2 { width: 300px; font-size: 21px; margin-left: 4%; }
    .p-right { 
	font-size: 12px; 
        width: 300px;
        text-align: right;
        margin-left: 11%;
        padding: 0 22px 0 10px;
    }
    .p-left { 
	text-align: left; 
        margin-left: 50px; 
        padding: 0 15px 0 10px;
        font-size: 12px;
        float: none;
        font-size: 12px; 
        width: 300px;
    }
    .p-left2 { 
        text-align: left; 
        float:left; 
        margin-left: 17%; 
        font-size: 10px;
        width: 300px;
    }
    .source-txt-left, .source-txt-right { font-size: 9px; }
    .relative-right { margin-top: 0px;  margin-left: 4%; }
    .relative-left { margin-top: 0px; margin-right: 6.5%; }
    .relative-left2 { margin-top: 152px; }
    .relative-left4 { margin-top: 135px; margin-left: 0px; }
    .relative-right2 { margin-top: 210px; margin-left: 20px; }
    .relative-right3 { margin-top: 90px; margin-left: 10px; }
    .pho-button { font-size: 20px; width: 195px; }
}
@media (min-width: 601px){
  
}
@media (min-width: 870px){
  
}
