body {
	font-family: Ariel, sans-serif;
	}
p, pre {
	font-family: Georgia, sans-serif;
	font-size:17px;
}
h1 {
	margin-bottom:0;
}
h2 {
  font-family:'Great Vibes', Helvetica, sans-serif;
  font-size: 35px;
  color: #000;
  margin-top:-10px;
}
footer {
	margin-bottom:0;
}


.logo-top {
	font-family:'Fredericka the Great';
	font-size:30px;
	margin:0;
	padding:0;
}
.logo-bottom {
	font-family:'Josefin Slab';
	font-size:19px;
	margin:0;
	padding:0;
}
.linkedin-padding {
    padding: 24px 10px 24px 70px;
}
.insta-padding {
    padding: 24px;
}
.portfolioText {
	text-align: center;
	font-family: 'Fredericka the Great';
	font-weight:bold;
	font-size: 30px;
	}
.quote {
    font-family:'Shadows Into Light',cursive;
    font-size:35px;
    text-align:center;
    color:#000;
}
.bkgrndTexture {
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
	}
.centerImg {
	display:block;
	margin-left:auto;
	margin-right:auto;
	}

.light-grey {
	background-color:#e6e6e6;
	}
.trnsprnt-wine {
	background-color:rgba(103, 24, 103, 0.35);
	}
.trnsprnt-light-violet {
	background-color:rgba(123, 81, 122, 0.3);
	}
.brush-stroke {
    background: url("/photography/images/PNGs/violet-brush-stroke.png");
    background-size: 105% 130%;
    background-repeat: repeat-y;
    background-position: center;
    margin-top: -10px;
}
.body1, .body2 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
.contentStart {
    margin-top: 73px;
}
	
.photos {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap:   2px;
  -moz-column-count:    2;
  -moz-column-gap:      2px;
  column-count:         2;
  column-gap:           2px;  

}
.photos-img {
  /* Just in case there are inline attributes */
  width: 100%!important;
}
@media (max-width: 499px) {
  .photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
  .quote {
      font-size:20px;
      padding: 10px;     
  }
  .contentStart {
    margin-top: 80px;
  }
}
@media (min-width: 601px){
  .insta-padding {
    padding: 24px 20px;
  }
}
@media (min-width: 870px){
  .contentStart {
    margin-top: 73px;
  }
}
