/**************************  
    Navigation Bar 
************************* */
header {
  height: 10vh;
}
nav {
  height: 10vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.5vw 0 7vw;
  -webkit-animation: none; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: none; /* Firefox < 16 */
  -ms-animation: none; /* Internet Explorer */
  -o-animation: none; /* Opera < 12.1 */
  animation: none;
  position: fixed;
}
.logo-portfolio a {
  text-decoration: none;
}
.logo-portfolio h4 {
  font-family: "Fredericka the Great";
  font-size: 3.5rem;
  font-weight: 400;
  flex-grow: 1;
  color: #1f1f1f;
  width: 200px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  padding-right: 0;
  font-family: "Josefin Slab", serif;
  font-size: 1.8rem;
}
.nav-links li {
  list-style: none;
  padding: 0 4rem;
}
.nav-links a {
  text-decoration: none;
  color: #1f1f1f;
}
.burger div {
  background-color: #1f1f1f;
}

@media screen and (max-width: 820px) {
  .nav-links {
    width: 100%;
  }
}
@media screen and (max-width: 800px) and (max-height: 344px) {
  .nav-links {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .burger {
    display: block;
    padding: 0 2.5rem;
    margin-top: -2rem;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 42vh;
    top: 8vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.7s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links a {
    color: rgb(15, 15, 15);
  }
  .nav-active {
    transform: translateX(0%);
  }
}

/**************************  
    Main Content
************************* */
.project-section {
  width: 95%;
  margin: auto;
  /* margin-top: 10vh; */
}
.main-content {
  width: 80%;
  margin: auto;
}
/* Grid styling */
.row-grid-twothird {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 2rem;
}
.row-grid-half {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.one-third-cell {
  padding-right: 4rem;
}
.two-third-cell {
  padding-left: 2rem;
}
.single-row {
  width: 100%;
}
.single-row ol {
  width: 90%;
  margin: auto;
  padding: 1rem 0;
}
.single-row li {
  padding-left: 1rem;
  line-height: 2.2rem;
}

/* Text Styling */
h1,
h2,
h3,
p,
li {
  color: #1f1f1f;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.8rem;
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  text-align: left;
}
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
}
.h3-left {
  margin-left: -12rem;
  padding-top: 1.5rem;
}
.h3-right {
  text-align: right;
  width: 350px;
  margin-left: 13rem;
  padding-top: 1.5rem;
}
p,
li,
.next-link,
.prev-link {
  font-family: "Josefin Slab", serif;
  font-size: 1.8rem;
}
.project-section p {
  padding: 1rem 0;
  line-height: 2.2rem;
}
.pp-left {
  margin-left: -60px;
  padding-top: 1.5rem;
}
.pp-right {
  text-align: right;
  margin-right: 70px;
  padding-top: 1.5rem;
}
.note-txt {
  font-size: 14px;
  font-style: italic;
}
a {
  color: #b40167;
}
.a-inactive {
  color: #1f1f1f;
}
.caption-bottom {
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  float: right;
  clear: both;
  margin-top: 0;
  padding-right: 20px;
}
.caption-top {
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  float: left;
  clear: both;
  margin-bottom: 0;
  padding-left: 20px;
}

/* Images Styling */
.portfolio-hero-img {
  top: 10vh;
}
.experts-img {
  width: 80%;
  float: right;
}
.writing-img {
  width: 50%;
}
.img-shadow {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.4);
}
.img-right {
  margin-left: 50%;
}
.img-size-lg {
  width: 100%;
}

/* Sections Division Styling */
.section-line {
  border-bottom: 1.5px #1f1f1f solid;
  line-height: 25px;
  padding-bottom: 2px;
}
.section-line-half {
  border-bottom: 1.5px #1f1f1f solid;
  line-height: 25px;
  width: 61.5%;
  margin-bottom: 1rem;
}
.section-divider {
  height: 60px;
}

/* Prev & Next Links Styling */
.next-link,
.prev-link {
  font-size: 2rem;
  font-weight: 700;
}
.next-link a,
.prev-link a {
  text-decoration: none;
}
.next-link .fas,
.prev-link .fas {
  padding: 0 20px;
}
.next-link {
  float: right;
}
.next-link a:hover {
  color: rgb(172 108 144 / 44%);
}
.prev-link {
  float: left;
}
.prev-link a:hover {
  color: rgb(172 108 144 / 44%);
}

/* General Styling */
.white-box {
  height: 100px;
}
.white-box2 {
  height: 60px;
}
.fl-right {
  float: right;
}

@media screen and (max-width: 1180px) {
  .main-content {
    width: 90%;
  }
}
@media screen and (max-width: 884px) {
  header,
  nav {
    height: 7vh;
  }
  .nav-links li {
    padding: 0 2rem;
  }
  h1 {
    font-size: 4.6rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 2rem;
  }
  p,
  .single-row li {
    font-size: 1.6rem;
  }
  .h3-right {
    margin-left: 2rem;
  }
  .next-link,
  .prev-link {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 820px) {
  header,
  nav {
    height: 6vh;
  }
  h1 {
    font-size: 4.4rem;
  }
}
@media screen and (max-width: 800px) and (max-height: 344px) {
  header,
  nav {
    height: 15vh;
  }
  nav {
    position: relative;
  }
  .project-section {
    width: 100%;
  }
  .main-content {
    width: 95%;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  p,
  .single-row li {
    font-size: 1.4rem;
  }
  .h3-right {
    margin-left: 0;
  }
}
@media screen and (max-width: 750px) and (max-height: 320px) {
  header,
  nav {
    height: 15vh;
  }
  nav {
    position: relative;
  }
  .logo-portfolio h4 {
    font-size: 3rem;
  }
  .burger {
    margin-top: 0;
    padding: 0 1rem;
  }
  .project-section {
    width: 100%;
  }
  .main-content {
    width: 95%;
  }
  h1 {
    font-size: 3.8rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  p,
  .single-row li {
    font-size: 1.4rem;
  }
  .h3-right {
    margin-left: 0;
  }
}

@media screen and (max-width: 499px) {
  header,
  nav {
    height: 8vh;
  }
  .burger {
    margin-top: 0;
    padding: 0 0 0 2.5rem;
  }
  .row-grid-twothird,
  .row-grid-half {
    display: block;
    padding-top: 0;
  }
  .one-third-cell,
  .two-third-cell {
    padding: 0.5rem 0;
  }
  h1 {
    font-size: 2.6rem;
    padding-bottom: 3rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.8rem;
    margin-bottom: -10px;
  }
  p,
  .single-row li {
    font-size: 1.4rem;
  }
  .w3-third {
    padding-right: 0;
  }
  .section-divider {
    height: 40px;
  }
  .experts-img {
    width: 90%;
  }
  .writing-img {
    width: 100%;
    margin-top: 20px;
  }
  .img-right {
    margin-left: 0;
  }
  .h3-left,
  .h3-right,
  .pp-left {
    margin-left: 0;
  }
  .h3-left,
  .h3-right {
    padding: 1.7rem 0;
  }
  .h3-right {
    text-align: left;
    width: auto;
  }
  .pp-right {
    margin-right: 0;
    text-align: left;
  }
  .white-box2 {
    height: 0;
  }
  .next-link,
  .prev-link {
    font-size: 1.6rem;
  }
  .next-link .fas,
  .prev-link .fas {
    padding: 0 5px;
  }
  footer {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 350px) {
  header,
  nav {
    height: 10vh;
  }
}
