* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}
body {
  overflow-x: hidden;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.8rem;
  text-align: center;
}
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  text-align: center;
}
p {
  font-family: "Josefin Slab", serif;
  font-size: 2rem;
}

@media screen and (max-width: 820px) {
  h2 {
    font-size: 4rem;
  }
  p {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 800px) and (max-height: 344px) {
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 390px) {
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 320px) {
  h2 {
    font-size: 2.5rem;
  }
}

/**************************  
    Navigation Bar 
************************* */
nav {
  height: 15vh;
  background: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 6s; /* Firefox < 16 */
  -ms-animation: fadein 6s; /* Internet Explorer */
  -o-animation: fadein 6s; /* Opera < 12.1 */
  animation: fadein 8s;
}
.logo {
  font-family: "Fredericka the Great";
  font-size: 2.5rem;
  font-weight: 400;
  flex-grow: 1;
  padding-left: 5%;
  opacity: 0;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  padding-right: 5%;
  font-family: "Josefin Slab", serif;
  font-size: 1.8rem;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: rgb(228, 228, 228);
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 30px;
  height: 2px;
  background-color: rgb(225, 234, 241);
  margin: 6px;
  transition: all 0.7s ease;
}

@media screen and (max-width: 820px) {
  .nav-links {
    width: 45%;
  }
}
@media screen and (max-width: 800px) and (max-height: 344px) {
  .nav-links {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 745px) and (max-height: 280px) {
  .burger {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .burger {
    display: block;
    padding: 0 2.5rem;
    /* margin-top: -2rem; */
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 42vh;
    top: 9vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.7s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links a {
    color: rgb(15, 15, 15);
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFadeIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/**************************  
    Hero Section 
************************* */
.hero-section {
  height: 100vh;
  margin-top: -15vh;
  position: relative;
  z-index: -1;
}
.wine-box {
  height: 95vh;
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(76, 0, 120);
  background: radial-gradient(
    circle at 30%,
    rgba(76, 0, 120, 1) 0%,
    rgba(123, 0, 70, 1) 50%,
    rgba(76, 0, 120, 1) 100%
  );
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 8.33%);
  grid-template-rows: repeat(12, 9.6%);
}
.bl-box-1 {
  width: 40px;
  height: 170px;
  background-color: black;
  grid-column: 9 / span 1;
  grid-row: 1 / span 3;
  /* margin-top: -5px; */
  margin-left: -20px;
  position: relative;
  z-index: 3;
  -webkit-animation: bl-1 6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: bl-1 6s; /* Firefox < 16 */
  -ms-animation: bl-1 6s; /* Internet Explorer */
  -o-animation: bl-1 6s; /* Opera < 12.1 */
  animation: bl-1 4s;
}
.bl-box-2 {
  width: 129px;
  height: 98px;
  background-color: black;
  grid-column: 11 / span 2;
  grid-row: 2 / span 2;
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
  z-index: -1;
  -webkit-animation: bl-2 6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: bl-2 6s; /* Firefox < 16 */
  -ms-animation: bl-2 6s; /* Internet Explorer */
  -o-animation: bl-2 6s; /* Opera < 12.1 */
  animation: bl-2 4s;
}
.bl-box-3 {
  /* width: 570px; */
  height: 15px;
  background-color: black;
  grid-column: 1 / span 7;
  grid-row: 10 / span 1;
  margin-top: -15px;
  /* margin-left: -7px; */
  position: relative;
  z-index: 1;
  -webkit-animation: bl-3 6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: bl-3 6s; /* Firefox < 16 */
  -ms-animation: bl-3 6s; /* Internet Explorer */
  -o-animation: bl-3 6s; /* Opera < 12.1 */
  animation: bl-3 6s;
}
.wh-box-1 {
  width: 15px;
  height: 200px;
  background-color: white;
  grid-column: 12 / span 1;
  grid-row: 9 / span 5;
  margin-top: -30px;
  margin-left: -55px;
  margin-bottom: 0;
  position: relative;
  z-index: 3;
  -webkit-animation: wh-1 6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: wh-1 6s; /* Firefox < 16 */
  -ms-animation: wh-1 6s; /* Internet Explorer */
  -o-animation: wh-1 6s; /* Opera < 12.1 */
  animation: wh-1 4s;
}
.wh-box-2 {
  width: 120px;
  height: 120px;
  border: 4px solid white;
  grid-column: 9 / span 2;
  grid-row: 9 / span 1;
  /* margin-top: 30px; */
  /* margin-left: -30px; */
  /* margin-bottom: -30px; */
  position: absolute;
  top: 68%;
  left: 65%;
  z-index: -1;
  -webkit-animation: wh-2 6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: wh-2 6s; /* Firefox < 16 */
  -ms-animation: wh-2 6s; /* Internet Explorer */
  -o-animation: wh-2 6s; /* Opera < 12.1 */
  animation: wh-2 4s;
}
.wh-box-3 {
  width: 120px;
  height: 120px;
  border: 4px solid white;
  grid-column: 8 / span 1;
  grid-row: 10 / span 2;
  /* margin-top: 30px; */
  /* margin-left: 60px; */
  /* margin-bottom: 0; */
  position: absolute;
  top: 72%;
  left: 63%;
  z-index: -1;
  -webkit-animation: wh-3 6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: wh-3 6s; /* Firefox < 16 */
  -ms-animation: wh-3 6s; /* Internet Explorer */
  -o-animation: wh-3 6s; /* Opera < 12.1 */
  animation: wh-3 6s;
}
@keyframes bl-1 {
  from {
    top: -130px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes bl-1 {
  from {
    top: -130px;
  }
  to {
    top: 0px;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes bl-1 {
  from {
    top: -130px;
  }
  to {
    top: 0px;
  }
}
/* Internet Explorer */
@-ms-keyframes bl-1 {
  from {
    top: -130px;
  }
  to {
    top: 0px;
  }
}

@keyframes bl-2 {
  from {
    left: 300px;
  }
  to {
    left: 0px;
  }
}
/* Firefox < 16 */
@-moz-keyframes bl-2 {
  from {
    left: 300px;
  }
  to {
    left: 0px;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes bl-2 {
  from {
    left: 300px;
  }
  to {
    left: 0px;
  }
}
/* Internet Explorer */
@-ms-keyframes bl-2 {
  from {
    left: 300px;
  }
  to {
    left: 0px;
  }
}

@keyframes bl-3 {
  from {
    left: -700px;
  }
  to {
    left: 0px;
  }
}
/* Firefox < 16 */
@-moz-keyframes bl-3 {
  from {
    left: -700px;
  }
  to {
    left: 0px;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes bl-3 {
  from {
    left: -700px;
  }
  to {
    left: 0px;
  }
}
/* Internet Explorer */
@-ms-keyframes bl-3 {
  from {
    left: -700px;
  }
  to {
    left: 0px;
  }
}

@keyframes wh-1 {
  from {
    top: 280px;
  }
  to {
    top: 0px;
  }
}
/* Firefox < 16 */
@-moz-keyframes wh-1 {
  from {
    top: 280px;
  }
  to {
    top: 0px;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes wh-1 {
  from {
    top: 280px;
  }
  to {
    top: 0px;
  }
}
/* Internet Explorer */
@-ms-keyframes wh-1 {
  from {
    top: 280px;
  }
  to {
    top: 0px;
  }
}

@keyframes wh-2 {
  from {
    top: 110%;
  }
  to {
    top: 68%;
  }
}
/* Firefox < 16 */
@-moz-keyframes wh-2 {
  from {
    top: 110%;
  }
  to {
    top: 68%;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes wh-2 {
  from {
    top: 110%;
  }
  to {
    top: 68%;
  }
}
/* Internet Explorer */
@-ms-keyframes wh-2 {
  from {
    top: 110%;
  }
  to {
    top: 68%;
  }
}

@keyframes wh-3 {
  from {
    left: 110%;
  }
  to {
    left: 63%;
  }
}
/* Firefox < 16 */
@-moz-keyframes wh-3 {
  from {
    left: 110%;
  }
  to {
    left: 63%;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes wh-3 {
  from {
    left: 110%;
  }
  to {
    left: 63%;
  }
}
/* Internet Explorer */
@-ms-keyframes wh-3 {
  from {
    left: 110%;
  }
  to {
    left: 63%;
  }
}

.grid h1 {
  font-family: "Fredericka the Great";
  font-size: 8.1rem;
  font-weight: 100;
  color: rgb(228, 228, 228);
  grid-column: 2 / span 4;
  grid-row: 8 / span 2;
  margin-bottom: 20px;
  -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 6s; /* Firefox < 16 */
  -ms-animation: fadein 6s; /* Internet Explorer */
  -o-animation: fadein 6s; /* Opera < 12.1 */
  animation: fadein 8s;
}
.grid p {
  font-family: "Josefin Slab", serif;
  font-size: 2.2rem;
  font-weight: normal;
  color: rgb(228, 228, 228);
  grid-column: 2 / span 4;
  grid-row: 10 / span 2;
  width: 90%;
  padding-top: 5px;
  -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 6s; /* Firefox < 16 */
  -ms-animation: fadein 6s; /* Internet Explorer */
  -o-animation: fadein 6s; /* Opera < 12.1 */
  animation: fadein 8s;
}
.hero-img {
  width: 100%;
  grid-column: 9 / span 3;
  grid-row: 3 / span 7;
  -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 6s; /* Firefox < 16 */
  -ms-animation: fadein 6s; /* Internet Explorer */
  -o-animation: fadein 6s; /* Opera < 12.1 */
  animation: fadein 6s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1280px) {
  .bl-box-1 {
    height: 240px;
    grid-row: 1 / span 4;
  }
  .bl-box-2 {
    grid-row: 3 / span 2;
  }
  .wh-box-2 {
    top: 66%;
  }
  .hero-img {
    grid-row: 4 / span 7;
  }
  @keyframes bl-1 {
    from {
      top: -280px;
    }
    to {
      top: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-1 {
    from {
      top: -280px;
    }
    to {
      top: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-1 {
    from {
      top: -280px;
    }
    to {
      top: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-1 {
    from {
      top: -280px;
    }
    to {
      top: 0px;
    }
  }

  @keyframes bl-3 {
    from {
      left: -800px;
    }
    to {
      left: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-3 {
    from {
      left: -800px;
    }
    to {
      left: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-3 {
    from {
      left: -800px;
    }
    to {
      left: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-3 {
    from {
      left: -800px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes wh-1 {
    from {
      top: 350px;
    }
    to {
      top: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-1 {
    from {
      top: 350px;
    }
    to {
      top: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-1 {
    from {
      top: 350px;
    }
    to {
      top: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-1 {
    from {
      top: 350px;
    }
    to {
      top: 0px;
    }
  }
  @keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 66%;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 66%;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 66%;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 66%;
    }
  }
}

@media screen and (max-width: 1180px) {
  .wh-box-2 {
    top: 60%;
  }
  .wh-box-3 {
    top: 64%;
  }
  .grid h1 {
    grid-column: 2 / span 5;
  }
  .grid p {
    grid-column: 2 / span 5;
  }

  @keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 60%;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 60%;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 60%;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 60%;
    }
  }
}

@media screen and (max-width: 884px) {
  .grid {
    grid-template-rows: repeat(12, 14.4%);
  }
  .bl-box-1 {
    grid-column: 7 / span 1;
    grid-row: 1 / span 3;
    height: 90%;
    width: 50px;
    margin-left: -25px;
  }
  .bl-box-2 {
    grid-row: 3 / span 2;
    margin-top: -20px;
    margin-left: -30px;
  }
  .bl-box-3 {
    grid-row: 10 / span 1;
    margin-top: 40px;
  }
  .wh-box-1 {
    grid-row: 7 / span 3;
    margin-top: 40px;
    height: auto;
  }
  .wh-box-2 {
    top: 53%;
    left: 47%;
  }
  .wh-box-3 {
    top: 48%;
    left: 43%;
  }
  .grid h1 {
    grid-column: 2 / span 7;
    grid-row: 9 / span 2;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .grid p {
    grid-column: 2 / span 7;
    grid-row: 10 / span 2;
    padding-top: 60px;
  }
  .grid img {
    grid-column: 7 / span 5;
    grid-row: 3 / span 7;
  }
  @keyframes bl-1 {
    from {
      top: -200px;
    }
    to {
      top: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-1 {
    from {
      top: -200px;
    }
    to {
      top: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-1 {
    from {
      top: -200px;
    }
    to {
      top: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-1 {
    from {
      top: -200px;
    }
    to {
      top: 0px;
    }
  }

  @keyframes bl-2 {
    from {
      left: 220px;
    }
    to {
      left: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-2 {
    from {
      left: 220px;
    }
    to {
      left: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-2 {
    from {
      left: 220px;
    }
    to {
      left: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-2 {
    from {
      left: 220px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes bl-3 {
    from {
      left: -650px;
    }
    to {
      left: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-3 {
    from {
      left: -650px;
    }
    to {
      left: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-3 {
    from {
      left: -650px;
    }
    to {
      left: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-3 {
    from {
      left: -650px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes wh-1 {
    from {
      top: 1015px;
    }
    to {
      top: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-1 {
    from {
      top: 1015px;
    }
    to {
      top: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-1 {
    from {
      top: 1015px;
    }
    to {
      top: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-1 {
    from {
      top: 1015px;
    }
    to {
      top: 0px;
    }
  }

  @keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 53%;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 53%;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 53%;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 53%;
    }
  }

  @keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 43%;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 43%;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 43%;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 43%;
    }
  }
}

@media screen and (max-width: 820px) {
  .bl-box-1 {
    grid-row: 1 / span 3;
    height: 90%;
  }
  .bl-box-2 {
    grid-row: 3 / span 2;
  }
  .bl-box-3 {
    grid-row: 11 / span 1;
    margin-top: 20px;
  }
  .wh-box-1 {
    grid-row: 7 / span 3;
  }
  .grid h1 {
    grid-row: 10 / span 2;
    margin-top: 0;
  }
  .grid p {
    grid-row: 11 / span 2;
    padding-top: 50px;
  }
  .grid img {
    grid-row: 3 / span 7;
  }
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-rows: repeat(12, 16.5%);
  }
  .bl-box-1 {
    grid-column: 7 / span 1;
    grid-row: 1 / span 4;
    height: 70%;
    width: 50px;
    margin-left: -25px;
  }
  .bl-box-2 {
    grid-row: 3 / span 2;
    margin-top: -20px;
    margin-left: -30px;
  }
  .bl-box-3 {
    grid-row: 10 / span 1;
    margin-top: 30px;
  }
  .wh-box-1 {
    grid-row: 7 / span 3;
    margin-top: 0;
    height: auto;
  }
  .wh-box-2 {
    top: 49%;
  }
  .wh-box-3 {
    top: 53%;
  }
  .grid h1 {
    grid-column: 2 / span 7;
    grid-row: 9 / span 2;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .grid p {
    grid-column: 2 / span 7;
    grid-row: 10 / span 2;
    padding-top: 55px;
  }
  .grid img {
    grid-column: 7 / span 5;
    grid-row: 3 / span 7;
  }
  @keyframes bl-1 {
    from {
      top: -290px;
    }
    to {
      top: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-1 {
    from {
      top: -290px;
    }
    to {
      top: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-1 {
    from {
      top: -290px;
    }
    to {
      top: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-1 {
    from {
      top: -290px;
    }
    to {
      top: 0px;
    }
  }

  @keyframes bl-2 {
    from {
      left: 210px;
    }
    to {
      left: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-2 {
    from {
      left: 210px;
    }
    to {
      left: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-2 {
    from {
      left: 210px;
    }
    to {
      left: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-2 {
    from {
      left: 210px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes bl-3 {
    from {
      left: -650px;
    }
    to {
      left: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-3 {
    from {
      left: -650px;
    }
    to {
      left: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-3 {
    from {
      left: -650px;
    }
    to {
      left: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-3 {
    from {
      left: -650px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes wh-1 {
    from {
      top: 1200px;
    }
    to {
      top: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-1 {
    from {
      top: 1200px;
    }
    to {
      top: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-1 {
    from {
      top: 1200px;
    }
    to {
      top: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-1 {
    from {
      top: 1200px;
    }
    to {
      top: 0px;
    }
  }

  @keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 49%;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 49%;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 49%;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 49%;
    }
  }

  @keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 43%;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 43%;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 43%;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 43%;
    }
  }
}

@media screen and (max-width: 800px) and (max-height: 344px) {
  .grid {
    grid-template-rows: repeat(12, 7.3%);
  }
  .bl-box-1 {
    display: none;
  }
  .bl-box-2 {
    width: 100px;
    height: 80px;
    margin-top: -18px;
    margin-left: -13px;
  }
  .bl-box-3 {
    grid-column: 1 / span 6;
    height: 10px;
    margin-top: -5px;
  }
  .wh-box-1 {
    grid-row: 11 / span 3;
    height: 80%;
    width: 10px;
    margin-left: -45px;
  }
  .wh-box-2,
  .wh-box-3 {
    width: 80px;
    height: 80px;
    border: 2px solid white;
  }
  .wh-box-2 {
    top: 69%;
    left: 64%;
  }
  .wh-box-3 {
    top: 58%;
    left: 60%;
  }
  .grid h1 {
    font-size: 4.1rem;
    grid-row: 7 / span 2;
  }
  .grid p {
    font-size: 1.6rem;
    grid-column: 2 / span 6;
    grid-row: 10 / span 2;
    padding-top: 15px;
  }
  .grid img {
    grid-column: 9 / span 3;
    grid-row: 3 / span 5;
  }
  @keyframes bl-2 {
    from {
      left: 300px;
    }
    to {
      left: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-2 {
    from {
      left: 300px;
    }
    to {
      left: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-2 {
    from {
      left: 300px;
    }
    to {
      left: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-2 {
    from {
      left: 300px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes bl-3 {
    from {
      left: -600px;
    }
    to {
      left: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-3 {
    from {
      left: -600px;
    }
    to {
      left: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-3 {
    from {
      left: -600px;
    }
    to {
      left: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-3 {
    from {
      left: -600px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes wh-1 {
    from {
      top: 130px;
    }
    to {
      top: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-1 {
    from {
      top: 130px;
    }
    to {
      top: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-1 {
    from {
      top: 130px;
    }
    to {
      top: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-1 {
    from {
      top: 130px;
    }
    to {
      top: 0px;
    }
  }

  @keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 69%;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 69%;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 69%;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 69%;
    }
  }

  @keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 60%;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 60%;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 60%;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 60%;
    }
  }
}
@media screen and (max-width: 745px) and (max-height: 280px) {
  .bl-box-2 {
    margin-top: -27px;
    margin-left: -30px;
  }
  .bl-box-3 {
    height: 10px;
    margin-top: -27px;
  }
  .wh-box-1 {
    height: 70%;
    width: 5px;
    margin-left: -35px;
  }
  .wh-box-2,
  .wh-box-3 {
    width: 60px;
    height: 60px;
  }
  .wh-box-2 {
    top: 74%;
  }
  .wh-box-3 {
    top: 60%;
    left: 61%;
  }
  .grid h1 {
    grid-row: 5 / span 2;
    margin-top: 25px;
  }
  .grid p {
    grid-row: 9 / span 2;
    padding-top: 15px;
  }
  .grid img {
    grid-row: 2 / span 5;
  }
  @keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 74%;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 74%;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 74%;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-2 {
    from {
      top: 110%;
    }
    to {
      top: 74%;
    }
  }

  @keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 61%;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 61%;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 61%;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 61%;
    }
  }
}

@media screen and (max-width: 415px) {
  .bl-box-1 {
    grid-column: 6 / span 1;
    grid-row: 1 / span 4;
    width: 30px;
    height: 80%;
    margin-left: -15px;
  }
  .bl-box-2 {
    grid-row: 3 / span 2;
    width: 100px;
    height: 80px;
    margin-left: -50px;
  }
  .bl-box-3 {
    grid-column: 1 / span 9;
    grid-row: 10 / span 1;
    height: 10px;
    margin-top: 25px;
  }
  .wh-box-1 {
    grid-row: 6 / span 3;
    width: 7px;
    margin-left: -35px;
    margin-top: 30px;
  }
  .wh-box-2 {
    width: 70px;
    height: 70px;
    border: 2px solid white;
    top: 45%;
    left: 37%;
  }
  .wh-box-3 {
    width: 70px;
    height: 70px;
    border: 2px solid white;
    top: 40%;
    left: 32%;
  }
  .grid h1 {
    font-size: 5.1rem;
    grid-column: 2 / span 9;
    grid-row: 9 / span 2;
    margin-top: 15px;
  }
  .grid p {
    font-size: 1.6rem;
    grid-column: 2 / span 9;
    grid-row: 10 / span 2;
    padding-top: 45px;
  }
  .grid img {
    grid-column: 6 / span 6;
    grid-row: 3 / span 7;
  }
  @keyframes bl-1 {
    from {
      top: -290px;
    }
    to {
      top: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-1 {
    from {
      top: -290px;
    }
    to {
      top: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-1 {
    from {
      top: -290px;
    }
    to {
      top: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-1 {
    from {
      top: -290px;
    }
    to {
      top: 0px;
    }
  }

  @keyframes bl-2 {
    from {
      left: 190px;
    }
    to {
      left: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-2 {
    from {
      left: 190px;
    }
    to {
      left: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-2 {
    from {
      left: 190px;
    }
    to {
      left: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-2 {
    from {
      left: 190px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes bl-3 {
    from {
      left: -450px;
    }
    to {
      left: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-3 {
    from {
      left: -450px;
    }
    to {
      left: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-3 {
    from {
      left: -450px;
    }
    to {
      left: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-3 {
    from {
      left: -450px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes wh-1 {
    from {
      top: 520px;
    }
    to {
      top: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-1 {
    from {
      top: 520px;
    }
    to {
      top: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-1 {
    from {
      top: 520px;
    }
    to {
      top: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-1 {
    from {
      top: 520px;
    }
    to {
      top: 0px;
    }
  }

  @keyframes wh-2 {
    from {
      left: -50%;
    }
    to {
      left: 37%;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-2 {
    from {
      left: -50%;
    }
    to {
      left: 37%;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-2 {
    rom {
      left: -50%;
    }
    to {
      left: 37%;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-2 {
    rom {
      left: -50%;
    }
    to {
      left: 37%;
    }
  }

  @keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 32%;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 32%;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 32%;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 32%;
    }
  }
}
@media screen and (max-width: 393px) {
  .bl-box-1 {
    grid-row: 1 / span 5;
  }
  .bl-box-2 {
    grid-row: 4 / span 2;
  }
  .bl-box-3 {
    grid-row: 11 / span 1;
    margin-top: 35px;
  }
  .wh-box-1 {
    grid-row: 7 / span 3;
  }
  .wh-box-2 {
    top: 43%;
  }
  .grid h1 {
    grid-row: 10 / span 2;
  }
  .grid p {
    grid-row: 11 / span 2;
  }
  .grid img {
    grid-row: 4 / span 7;
  }
  @keyframes bl-1 {
    from {
      top: -290px;
    }
    to {
      top: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-1 {
    from {
      top: -290px;
    }
    to {
      top: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-1 {
    from {
      top: -290px;
    }
    to {
      top: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-1 {
    from {
      top: -290px;
    }
    to {
      top: 0px;
    }
  }

  @keyframes bl-2 {
    from {
      left: 190px;
    }
    to {
      left: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-2 {
    from {
      left: 190px;
    }
    to {
      left: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-2 {
    from {
      left: 190px;
    }
    to {
      left: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-2 {
    from {
      left: 190px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes bl-3 {
    from {
      left: -450px;
    }
    to {
      left: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-3 {
    from {
      left: -450px;
    }
    to {
      left: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-3 {
    from {
      left: -450px;
    }
    to {
      left: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-3 {
    from {
      left: -450px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes wh-1 {
    from {
      top: 520px;
    }
    to {
      top: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-1 {
    from {
      top: 520px;
    }
    to {
      top: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-1 {
    from {
      top: 520px;
    }
    to {
      top: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-1 {
    from {
      top: 520px;
    }
    to {
      top: 0px;
    }
  }

  @keyframes wh-2 {
    from {
      left: -50%;
    }
    to {
      left: 37%;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-2 {
    from {
      left: -50%;
    }
    to {
      left: 37%;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-2 {
    rom {
      left: -50%;
    }
    to {
      left: 37%;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-2 {
    rom {
      left: -50%;
    }
    to {
      left: 37%;
    }
  }

  @keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 32%;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 32%;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 32%;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 32%;
    }
  }
}

@media screen and (max-width: 390px) {
  .bl-box-1 {
    grid-row: 1 / span 3;
    height: 90%;
  }
  .bl-box-2 {
    grid-row: 3 / span 2;
  }
  .bl-box-3 {
    grid-row: 10 / span 1;
    margin-top: 15px;
  }
  .wh-box-1 {
    grid-row: 7 / span 2;
    width: 7px;
    margin-top: -10px;
  }
  .wh-box-2 {
    top: 45%;
  }
  .grid h1 {
    grid-row: 9 / span 2;
    margin-top: 0;
  }
  .grid p {
    grid-row: 10 / span 2;
    padding-top: 30px;
  }
  .grid img {
    grid-row: 3 / span 7;
  }
}

@media screen and (max-width: 360px) {
  .grid {
    grid-template-rows: repeat(12, 12.8%);
  }
  .bl-box-1 {
    grid-row: 1 / span 3;
    width: 20px;
    height: auto;
    margin-left: -10px;
  }
  .bl-box-2 {
    grid-row: 3 / span 2;
    width: 80px;
    height: 60px;
    margin-left: -30px;
    margin-top: -12px;
  }
  .bl-box-3 {
    margin-top: 55px;
  }
  .wh-box-1 {
    grid-row: 7 / span 3;
    width: 7px;
    margin-top: 0;
  }
  .wh-box-2 {
    width: 70px;
    height: 70px;
    border: 2px solid white;
    top: 43%;
    left: 37%;
  }
  .wh-box-3 {
    top: 40%;
  }
  .grid h1 {
    font-size: 4.5rem;
    grid-column: 2 / span 8;
    grid-row: 10 / span 2;
    margin-top: 0;
  }
  .grid p {
    font-size: 1.6rem;
    grid-column: 2 / span 9;
    grid-row: 11 / span 2;
    padding-top: 25px;
  }
  .grid img {
    grid-column: 6 / span 6;
    grid-row: 3 / span 7;
  }
  @keyframes bl-1 {
    from {
      top: -290px;
    }
    to {
      top: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-1 {
    from {
      top: -290px;
    }
    to {
      top: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-1 {
    from {
      top: -290px;
    }
    to {
      top: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-1 {
    from {
      top: -290px;
    }
    to {
      top: 0px;
    }
  }

  @keyframes bl-2 {
    from {
      left: 190px;
    }
    to {
      left: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-2 {
    from {
      left: 190px;
    }
    to {
      left: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-2 {
    from {
      left: 190px;
    }
    to {
      left: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-2 {
    from {
      left: 190px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes bl-3 {
    from {
      left: -450px;
    }
    to {
      left: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes bl-3 {
    from {
      left: -450px;
    }
    to {
      left: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes bl-3 {
    from {
      left: -450px;
    }
    to {
      left: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes bl-3 {
    from {
      left: -450px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes wh-1 {
    from {
      top: 520px;
    }
    to {
      top: 0px;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-1 {
    from {
      top: 520px;
    }
    to {
      top: 0px;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-1 {
    from {
      top: 520px;
    }
    to {
      top: 0px;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-1 {
    from {
      top: 520px;
    }
    to {
      top: 0px;
    }
  }

  @keyframes wh-2 {
    from {
      left: -50%;
    }
    to {
      left: 37%;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-2 {
    from {
      left: -50%;
    }
    to {
      left: 37%;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-2 {
    rom {
      left: -50%;
    }
    to {
      left: 37%;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-2 {
    rom {
      left: -50%;
    }
    to {
      left: 37%;
    }
  }

  @keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 32%;
    }
  }
  /* Firefox < 16 */
  @-moz-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 32%;
    }
  }
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 32%;
    }
  }
  /* Internet Explorer */
  @-ms-keyframes wh-3 {
    from {
      left: 110%;
    }
    to {
      left: 32%;
    }
  }
}

@media screen and (max-width: 320px) {
  .bl-box-2 {
    width: 60px;
    height: 40px;
    margin-left: -20px;
  }
  .bl-box-3 {
    height: 7px;
    margin-top: 20px;
  }
  .wh-box-1 {
    width: 5px;
    margin-top: 20px;
  }
  .wh-box-2 {
    width: 50px;
    height: 50px;
    top: 47%;
  }
  .wh-box-3 {
    width: 50px;
    height: 50px;
    top: 42%;
  }
  .grid h1 {
    font-size: 3.5rem;
    margin-top: -25px;
  }
  .grid p {
    font-size: 1.4rem;
    padding-top: 0;
  }
}

/************************** 
    Portfolio Section 
************************* */
.portfolio-section {
  width: 95%;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 90%;
  margin: auto;
}
.work-1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.empty-cell-right {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.empty-cell-left {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.work-2 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.work-3 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
.work-1,
.work-2,
.work-3 {
  transition: transform 2s ease;
}
.empty-cell-right2 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}
.portfolio-grid img {
  width: 80%;
}
.portfolio-grid .img-right {
  margin-left: 20%;
}
.border-box-left,
.border-box-right {
  width: 15rem;
  height: 15rem;
  border: 3px solid rgb(116, 116, 116);
  z-index: -1;
}
.border-box-left {
  margin-top: -13rem;
  margin-left: -2rem;
}
.border-box-right {
  float: right;
  margin-top: -13rem;
  margin-right: -2rem;
}
.work-label-left,
.work-label-right {
  position: relative;
  background-color: rgb(20, 20, 20);
  width: 60%;
}
.work-label-left {
  float: right;
  margin-right: 5rem;
  margin-top: -5rem;
  -webkit-box-shadow: 5px 5px 0px 0px #868686, 10px 10px 0px 0px #bdbdbd,
    0px 5px 12px 10px rgba(0, 0, 0, 0.12);
  box-shadow: 5px 5px 0px 0px #868686,
    10px 10px 0px 0px #bdbdbd 0px 5px 12px 10px, rgba(0, 0, 0, 0.12);
}
.work-label-right {
  margin-left: 5rem;
  margin-top: -3rem;
  -webkit-box-shadow: -5px 5px 0px 0px #868686, -10px 10px 0px 0px #bdbdbd,
    0px 5px 12px 10px rgba(0, 0, 0, 0.12);
  box-shadow: -5px 5px 0px 0px #868686,
    -10px 10px 0px 0px #bdbdbd 0px 5px 12px 10px, rgba(0, 0, 0, 0.12);
}
.work-label-left p,
.work-label-right p {
  font-family: "Josefin Slab", serif;
  font-size: 1.6rem;
  color: rgb(228, 228, 228);
  padding: 1.7rem;
}
.work-1 img,
.work-2 img,
.work-3 img,
.border-box-left,
.border-box-right {
  -webkit-box-shadow: 0px 5px 12px 10px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 5px 12px 10px rgba(0, 0, 0, 0.12);
}
.work-1:hover,
.work-2:hover,
.work-3:hover {
  transform: translateY(-2rem);
  /* -webkit-box-shadow: 0px 10px 17px 15px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 17px 15px rgba(0, 0, 0, 0.12); */
}
@media screen and (max-width: 1280px) {
  .border-box-right {
    margin-left: -2.5rem;
  }
  .border-box-right {
    margin-right: 8.5rem;
  }
}

@media screen and (max-width: 1180px) {
  .portfolio-section {
    padding: 10rem 0 12rem 0;
  }
  .border-box-right {
    margin-right: -2rem;
  }
}

@media screen and (max-width: 884px) {
  .portfolio-section {
    width: 80%;
  }
  .portfolio-grid {
    width: 100%;
  }
  .border-box-left,
  .border-box-right {
    width: 10rem;
    height: 10rem;
    margin-top: -8.5rem;
  }

  .work-label-left,
  .work-label-right {
    margin-left: 0;
    margin-right: 0;
    width: 75%;
  }
  .work-label-left p,
  .work-label-right p {
    font-size: 1.5rem;
    padding-left: 1.9rem;
  }
}
@media screen and (max-width: 800px) and (max-height: 344px) {
  .work-label-left p,
  .work-label-right p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 415px) {
  .portfolio-section {
    padding: 0 0 10rem 0;
  }
  .portfolio-grid {
    display: block;
  }
  .work-1,
  .work-2 {
    padding: 4rem 0;
  }
  .empty-cell-left,
  .empty-cell-right,
  .empty-cell-right2 {
    display: none;
  }
}

/**************************  
    About & Skills Section
************************* */
.about-skills-section {
  background: rgb(76, 0, 120);
  background: radial-gradient(
    circle at 70%,
    rgba(76, 0, 120, 1) 0%,
    rgba(123, 0, 70, 1) 50%,
    rgba(76, 0, 120, 1) 100%
  );
  width: 95%;
  margin: auto;
}
.about-section,
.skills-section {
  padding-top: 10rem;
  color: rgb(228, 228, 228);
  width: 90%;
  margin: auto;
  padding-bottom: 10rem;
}

.about-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.about-grid img {
  width: 300px;
  /* padding: 5rem 0 5rem 15rem; */
  margin-left: auto;
}
.about-txt {
  /* padding: 0 20rem; */
  width: 50%;
  margin-left: auto;
  padding-right: 10rem;
}
.about-txt p {
  padding: 1rem 0;
  line-height: 2.5rem;
}
.about-txt h3 {
  padding: 4rem 0;
}
.about-txt ul {
  padding-left: 0.3rem;
}
.about-txt li {
  font-family: "Josefin Slab", serif;
  font-size: 1.8rem;
  line-height: 1.5rem;
  /* margin: 0; */
  padding: 1rem 0 1rem 4rem;
  list-style: none;
  background-image: url("/images/square-shape-outline2.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15px;
}

.skills-section {
  padding-bottom: 10rem;
}
.skills-section ul {
  padding-left: 15rem;
  padding-top: 5rem;
}
.skills-section li {
  font-family: "Josefin Slab", serif;
  font-size: 2rem;
  /* padding: 1rem 0; */
  line-height: 2.5rem;
  /* list-style: url("/images/square-shape-outline.svg"); */
  margin: 0;
  padding: 1rem 0 1rem 4rem;
  list-style: none;
  background-image: url("/images/square-shape-outline2.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20px;
}

@media screen and (max-width: 1280px) {
  .about-section img {
    padding: 0 0 0 10rem;
    width: 430px;
  }
}

@media screen and (max-width: 1180px) {
  .about-section h2 {
    padding-bottom: 5rem;
  }
  .about-section img {
    width: 330px;
    padding: 0;
  }
  .about-txt {
    padding: 0 7rem 0 0;
  }
}

@media screen and (max-width: 884px) {
  .about-section,
  .skills-section {
    padding-top: 7rem;
  }
  .about-section h2 {
    padding-bottom: 2rem;
  }
  .about-grid {
    padding-top: 0;
  }
  .about-grid img {
    width: 250px;
    padding: 0;
  }
  .about-txt {
    width: 80%;
    padding: 0;
    padding-left: 5rem;
  }
  .skills-section {
    padding-bottom: 6rem;
  }
  .skills-section ul {
    padding-top: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 800px) and (max-height: 344px) {
  .skills-section li {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 415px) {
  .about-section,
  .skills-section {
    width: 100%;
  }
  .about-grid {
    flex-wrap: wrap;
  }
  .about-grid img {
    width: 200px;
    margin: auto;
  }
  .about-txt {
    padding: 0;
    padding-top: 2rem;
    margin: auto;
  }
  .skills-section li {
    font-size: 1.4rem;
    line-height: 1rem;
  }
}

/**************************  
    Contact Section
************************* */
.contact-section {
  height: 70vh;
  padding-top: 10rem;
}
.email {
  font-family: "Josefin Slab", serif;
  font-size: 6rem;
  text-align: center;
  margin-top: 10rem;
}
.back-highlight {
  background-color: rgba(153, 238, 238, 0.966);
  width: 58rem;
  height: 5rem;
  position: relative;
  margin: -2.6rem auto 0;
  z-index: -1;
}
.email a {
  color: rgba(123, 0, 70, 1);
  transition: font-size 1s;
}
.email a:hover {
  font-size: 7rem;
  font-weight: 900;
  background: -webkit-linear-gradient(
    45deg,
    rgb(116, 2, 182),
    rgba(123, 0, 70, 1),
    rgb(116, 2, 182),
    rgb(10, 82, 189),
    rgba(123, 0, 70, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 884px) {
  .contact-section {
    height: 30vh;
    padding-top: 7rem;
  }
  .email {
    font-size: 5.5rem;
    margin-top: 7rem;
  }
  .email:hover {
    font-size: 6.5rem;
  }
  .back-highlight {
    width: 52rem;
    height: 4rem;
    margin-top: -2.3rem;
  }
}

@media screen and (max-width: 800px) and (max-height: 344px) {
  .contact-section {
    height: 100vh;
  }
  .email {
    font-size: 4.5rem;
    margin-top: 5rem;
  }
  .email a:hover {
    font-size: 5rem;
  }
  .back-highlight {
    width: 42rem;
    height: 3rem;
    margin-top: -1.8rem;
  }
}

@media screen and (max-width: 415px) {
  .contact-section {
    height: 35vh;
  }
  .email {
    font-size: 3.5rem;
  }
  .email a:hover {
    font-size: 4rem;
  }
  .back-highlight {
    width: 33rem;
    height: 3rem;
    margin-top: -1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .contact-section {
    height: 50vh;
  }
  .email {
    font-size: 3rem;
  }
  .email a:hover {
    font-size: 3.5rem;
  }
  .back-highlight {
    width: 28rem;
    height: 2rem;
    margin-top: -1.2rem;
  }
}

/**************************  
    Footer Section
************************* */
footer {
  padding: 2rem;
}
footer hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.social-icon {
  padding: 2.5rem 2rem 2rem 2rem;
  font-size: 2rem;
  color: black;
  opacity: 0.8;
}
.social-icon:hover {
  font-size: 3rem;
  color: rgba(123, 0, 70, 1);
  opacity: 0.8;
}
.footer-txt {
  font-family: "Josefin Slab", serif;
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 884px) {
  .footer-txt {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 800px) and (max-height: 344px) {
  .footer-txt {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 415px) {
  .social-icon {
    font-size: 2rem;
  }
  .social-icon:hover {
    font-size: 2.5rem;
  }
  .footer-txt {
    font-size: 1.2rem;
  }
}
